/**
 * "Variables"
 */
h1,
header > h1 > span,
header > ul > li:before {
    color: #B53D25;
}

/**
 * Style
 */

html {
    background: #9BA2B0;
}

body {
    width: 45em;
    padding: 7em 10%;
    margin: 1em auto;
    background: white;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,.3);
    line-height: 1.5em;
    color: #444;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-size: 16px;
}

h1 {
    margin-top: 1.2em;
    font-size: 180%;
}

h2 {
    margin-top: 1em;
    font-size: 150%;
}

abbr[title] {
    border-bottom: 1px dotted #4F6128;
    cursor: help;
}

ul {
    padding: 0;
    list-style: square;
    list-style-position: inside;
}

header {
    text-align: center;
}

    header > h1 {
        color: #444;
        border-bottom: 1px solid #444;
        margin: 0 0 .15em;
        font-size: 450%;
        line-height: 1.05;
        font-variant: normal;
    }

        header > h1 > span {
            display: inline-block;
            margin-left: -2.7em;
            vertical-align: super;
            font-size: 50%;
        }

    header > ul {
        display: block;
        margin-bottom: .5em;
    }

        header > ul > li {
            display: inline;
            list-style: none;
        }

        header > ul > li:before {
            content: 'â— ';
        }

        header > ul > li:first-child:before {
            content: none;
        }

    address {
        font-style: normal;
    }

ol.timeline {
    padding: 0;
    border: 0 solid #ddd;
    border-width: 4px 0;
}

    ol.timeline > li {
        list-style: none;
        padding: .4em 0;
        border: 1px solid white; /* Chrome printing bug */
        border-top-color: #ccc;
    }

    ol.timeline > li:first-child {
        border-top: 0;
    }

        ol.timeline > li > p {
            margin: 0;
        }

        ol.timeline > li > .date {
            float: left;
            margin-left: .1em;
            max-width: 8rem;
            color: gray;
            font-size: 110%;
        }

        ol.timeline > li > .date ~ p {
            margin-left: 9rem;
        }

.note {
    margin-top: .4em;
    font-size: 75%;
}

    .note a:not(:hover):not(:active) {
        color: inherit;
    }

footer {
    margin-top: 3em;
    font-style: italic;
}

.amp {
    font-style: italic;
}

@media print {
    body {
        box-shadow: none;
    }
}